<%= simple_form_for [@event, comment] do |f| %>
  <div class="form-inputs">
    <% unless user_signed_in? %>
      <%= f.input :user_name, required: true, wrapper: :horizontal_form %>
    <% end %>
    <%= f.input :body, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
