<%# Универсальный паршиал отображения ошибок валидации любой модели %>
<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger alert-dismissible show fade" role="alert">
    <h4 class="alert-heading">
      В вашей форме <%= errors.count %> <%= t(:error, count: errors.count) %>
    </h4>
    <hr>
    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
